<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="gif.css">
    <title>DolarApi</title>
</head>
<body>
    <nav class="menu">
        <div class="contenedor">
            <div class="contenedor-botones">
                <button class="botonIndicado" onclick="window.location.href='index.html'"><span">Inicio</span></button>
                <button class="boton" onclick="window.location.href='dolar.html'"><span>Dolar</span></button> 
                <button class="boton" onclick="window.location.href='historico2.html'"><span>Historico</span></button>
                <button class="boton" onclick="window.location.href='contacto.html'"><span>Envio Mail</span></button>
            </div>
        </div>
    </nav>
    <div id="tradingview-widget-container" class="widget-trading"></div>  
    <main>
      <h1>Cambio de moneda ARS a otro tipo de cambio</h1>
      <img id="gifCarga" src="../Img/cargando.webp" alt="Cargando...">
      <div class="carta-container"></div>
    </main>

    <div>  
        <footer>
            <span class="titulo-pagina">Encontraras la cotizacion del tipo de cambio local 
                (ARS) a otros tipos de cambios de paises limitrofes y del resto del mundo
            </span>
            
            <div class="info">
                <img class="logoutn" src="../Img/utn.png" alt="Logo UTN" height="50px" width="50px">
                <ul>
                    <li class="titulo">Integrantes:</li>
                    <li>Chieu Santiago</li>
                    <li>Lopez Quimey Alejo</li>
                    <li>Saporiti Martin</li>
                    <li>Coveri Lautaro</li>
                </ul>
                <ul>
                    <li class="titulo">Educación</li>
                    <li>UTN | Rosario-Santa Fe | Zeballos 1341</li>
                    <li>Tecnicatura Universitaria en Programacion | Programacion II</li>
                    <li>Fuente: <a class="li-text" href="https://dolarapi.com/docs/">DolarApi</a></li>
                </ul> 
            </div>
            <p> &copy; 2024 Mi Pagina</p>
        </footer>
</body>

<script src="../Script/integrador.js" defer></script>
<script src="../Script/tradingview.js" defer></script>

</html>
