body {
    background:url("../Img/fondodolar.webp");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
} 

footer {
    background-color: #0c1c32;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 100%;
    display: flex; flex-direction: column; margin-top: auto;
    
}

.titulo {
    font-size: 1.5em;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

footer ul li {
    margin: 10px 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
    gap: 20px;
}

.titulo {
    font-size: 0.9em;
    color: #949393;
}
.widget-trading{
    text-align: center;
    width: 102.25%;
    display: flex; flex-direction: column; margin-top: auto;
}
nav {
    background-color: #0c1c32;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 100%;
    display: flex; flex-direction: column; margin-top: auto;
}

.header a {
    color: #fff;
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
    padding: 5px;
    text-align: left;
    display: flex;
}

.logoutn {
    align-items: right;
    flex-direction: end;
    width: 6em;
    height: auto;
}

h1{
    text-align: center;
    color: #fff;
}

.carta-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; 
  padding: 4rem;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.dolar-oficial {
    margin: 25px;
    max-width: 50%;
    padding: 25px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: #F7EDE2;
    display: inline-grid;
    flex-wrap: wrap;
    line-height: 1em;
    width: 290px;

}

.dolar {
    border-bottom: solid 1px black;
    padding-bottom: 10px;
    font-weight: bold;
    margin: 10px;
}

.compra-venta {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.compra,
.venta {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 10px;
}

.precio-compra,
.precio-venta {
    padding-top: 5px;
}
.contenedor {
    width: 100%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    justify-content: flex-start;
}

.contenedor-botones {
    width: auto; 
    display: grid;
    grid-template-columns: repeat(3, auto); 
    gap: 10px;
}

button {
    height: 50px;
    background: #141414;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 150px; 
}

button span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid #286cff;
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
}

.boton:hover::after {
    left: 0;
}
.li-text{
    text-decoration : none;
    color: inherit;
}
@media screen and (max-width: 600px) {
    .info {
        flex-direction: column;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.formularioHistorico{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

@keyframes cambioColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: red; } 
}
#resultado{
    animation: cambioColor 5s infinite;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    font-size: 2em; 
    font-weight: bold;
}