* {
    max-width: 100%;
    box-sizing: border-box;
}

body {
    background:url("../Img/fondodolar.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
} 

footer {
    background-color: #0c1c32;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 100%;
    display: flex; flex-direction: column; margin-top: auto;
    
}

.titulo {
    font-size: 1.5em;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

footer ul li {
    margin: 10px 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
    gap: 20px;
}

.titulo {
    font-size: 0.9em;
    color: #949393;
}
.widget-trading{
    text-align: center;
    width: 101.5%;
    display: flex; flex-direction: column; margin-top: auto;
}
nav {
    background-color: #0c1c32;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    margin-top: auto;
    height: auto;
}

.header a {
    color: #fff;
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
}

.logoutn {
    align-items: right;
    flex-direction: end;
    width: 6em;
    height: auto;
    width: 80px;
}

h1{
    text-align: center;
    color: #fff;
}

.dolar-oficial {
    margin: 25px;
    max-width: 100%;
    padding: 25px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: #F7EDE2;
    display: inline-grid;
    line-height: 1em;
    width: 290px;
}

.carta-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 4rem;
  justify-items: center;
}


.dolar {
    border-bottom: solid 1px black;
    padding-bottom: 10px;
    font-weight: bold;
    margin: 10px;
}

.compra-venta {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.compra,
.venta {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 10px;
}

.precio-compra,
.precio-venta {
    padding-top: 5px;
}
.contenedor {
    width: 100%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    justify-content: flex-start;
}

.contenedor-botones {
    width: auto; 
    display: grid;
    grid-template-columns: repeat(4, auto); 
    gap: 10px;
}
.botonpost{
    display:flex;
    justify-content: center;
    margin: auto;
    align-items: center;

}
.botonpost::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid #286cff;
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
}
.botonpost:hover::after {
    left: 0;
}
.divBotonPost{
    display: block;
}

button {
    height: 50px;
    background: #141414;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 150px; 
}

button span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid #286cff;
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
}

.boton:hover::after {
    left: 0;
}
.botonIndicado {
    background-color: #286cff;
}
.li-text{
    text-decoration : none;
    color: inherit;
}

.formularioHistorico{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 400px;
    margin: 0 auto;
}

@keyframes cambioColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: red; } 
}
#resultado{
    animation: cambioColor 5s infinite;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    font-size: 2em; 
    font-weight: bold;
}

.carta {
    margin: 15px;
    padding: 25px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: #F7EDE2;
}
.carta-container-historico {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
#precio-historico {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    height: auto;
    margin: auto;
    padding: 20px;
    max-width: 40%;
}

.consultar {
    margin-top: 10px;
}

.formContacto{
    background-color:   #F7EDE2;
    max-width: 50%;
    height: auto;
    margin: auto;
    padding: 20px;
    display: auto;
    justify-items: center;
    border: solid 1px black;
    border-radius: 20px;
}


label{
    margin: 10px;
}

input{
    display: block;
    width: 500px;
    height: 30px;
    margin: 10px auto;
    padding: 5px;
}

textarea{
    display: block;
    width: 500px;
    height: 100px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 3px
}

.enviar{
    background-color: #313553;
    color: white;
    margin: auto;
    border-radius: 3px;
    border-style: none;    
    width: 515px;
}
.enviar:hover{
    background: #424664
}
.precio-historico{
    border: solid 1px black;
    background-color: #F7EDE2;
    border-radius: 20px;
}
.carta-container-historico p {
    margin: 15px;
    padding: 25px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: #F7EDE2;
}
.msgenv {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
    width: 200px;
}
.divpost{
    display: flex;                
    justify-content: center;      
    align-items: center;        
    height: 100%; 
}

@media (max-width: 600px) {
    .msgenv {
        width: 150px; 
    }
}
@media screen and (max-width: 680px) {
    .info {
        flex-direction: row;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 1024px) {
    .carta-container {
      grid-template-columns: repeat(2, 1fr); 
      gap: 1.5rem; 
    }
  }
  
  @media screen and (max-width: 680px) {
    .carta-container {
      grid-template-columns: 1fr; 
      gap: 1rem;
    }
    
    .dolar-oficial {
      width: 90%; 
      margin: 15px auto;
    }
  }

  @media screen and (max-width: 768px) {
    .contenedor-botones {
        grid-template-columns: repeat(4, auto);
        gap: 5px;
    }
    
    .boton {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .contenedor-botones {
        grid-template-columns: repeat(4, auto);
        gap: 5px;
    }
    
    .boton {
        width: 100%; 
        font-size: 14px;
        padding: 8px;
    }
    .info{
      flex-direction: row; 
    }
}

